{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h3 class="mb-4">Change password</h3>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Current password</label>
          <input type="password" name="old" required class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">New password</label>
          <input type="password" name="new" required minlength="8" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm new password</label>
          <input type="password" name="confirm" required minlength="8" class="form-control">
        </div>
        <button class="btn btn-primary">Update password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
